@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Berkshire+Swash&family=Creepster&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Gideon+Roman&family=Great+Vibes&family=Kalam:wght@300;400;700&family=League+Spartan:wght@100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nosifer&family=Noto+Sans+Miao&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Prociono&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Salsa&family=Sixtyfour+Convergence&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tai+Heritage+Pro:wght@400;700&family=Trade+Winds&display=swap');

:root{
    --width: 100%;
    --salsa: "Salsa", cursive;
    --red: rgb(235, 2, 2);
    --yellow: rgb(251, 195, 10);
    --gray: rgb(237, 235, 233);
    --gray-favorite: rgb(207, 206, 205);
    --black: rgba(0, 0, 0, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.header {
    display: flex;
    padding: 10px 25px;
    align-items: center;
    width: 100%;
    border-bottom: thin solid #0003;
}

.header__nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.nav__button {
    display: block;
}

#button-bars{
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 25px;
    border: none;
    transition: all .2s ease-in;
}

#button-bars:hover{
    color: var(--red);
}

.nav__horario {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px ;
}

.nav__about {
    display: none;
    align-items: center;
    gap: 15px;
}

h1{
    font-size: 62px;
    font-family: "Salsa", cursive;
    color: rgb(235, 2, 2);
}


.main .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.main__header{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
    width: 100%;
}

.main__header span{
    margin-left: -14px;
    font-family: "Salsa", cursive;
    font-size: 24px;
    color: #000;
}

.name-sc-title,.name-sc-title-span{
    font-weight: bolder;
    text-align: center;
    text-wrap: wrap;
    font-family: var(--salsa);
    font-size: 44px;
}

.name-sc-title-span{
    color: var(--red);
}

.header__list {
    display: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    gap: 30px;
}

.list-items {
    font-size: 18px;
}

.buttons-container{
    display: none;
    align-items: center;
    gap: 12px;
}

.btn{
    font-size: 18px;
    font-family: sans-serif;
    width: 260px;
    max-width: 210px;
    height: 55px;
    border-radius: 26px;
    border: none;
    cursor: pointer;
}

#calendary{
    cursor: pointer;
    width: 45px;
    height: 45px;
    font-size: 16px;
    background-color: #fff;
    border-color: #0003;
    border-radius: 50%;
}

.main__content{
    display: flex;
    padding: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.text__paragraph{
    text-align: center;
    margin: 26px 0;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

.text__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 12px;
}

.btn-yellow{
    font-family: sans-serif;
    background-color: var(--yellow);
    color: #000;
}

.btn-secundary{
    background-color: #fff;
    border: 3px solid #0003;
}

.main__img__container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__img__container img{
    width: 100%;
}

.products{
    padding: 40px;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px   ;
    background-color: #f5f5f5;
}

.products--item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.item__name{
    font-size: 34px;
    font-family: var(--salsa);
    font-weight: bold   ;
    text-align: center;
}

.products__img{
    width: 100%;
    max-width: 250px;
}

.img2{
    max-width: 200px;
}

.img3{
    max-width: 300px;
}

.color-cards{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: var(--width);
}


.color__card--text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 30px;
}
.color__card--text p, h4, span{
    color: #fff;
    font-family: var(--salsa);
}

.card--name{
    font-size:42px;
}

.card--details{
    text-wrap: wrap;
    font-size: 18px;
}

.card--details span{
    font-weight: bold;
}

.card--price{
    font-weight: bold;
    font-size: 28px;
}

.color__card{
    display: flex;
    max-width: 580px;
    padding: 20px 0;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


.color__card--img img{
    width: 100%;
    max-width: 200px;
}

.card--yellow{
    background-color: var(--yellow);
}

.card--black{
    background-color: var(--black);
}

.card--red{
    background-color: var(--red);
}

.about{
    padding: 14px;
}

.about .welcome{
    margin-bottom: 15px;
}

.about .main__text .text__paragraph{
    margin: 10px 5px;
}

.about__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin: 20px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: center
}

.about__list .fa-circle-check{
    padding: 5px;
    color: var(--red);
}

.products--delivery{
    gap: 3px;
}


.popular__content-buttons{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    gap: 12px;
}

.popular__content-buttons .popular-btn{
    transition: all .2s ease;
}

.popular-btn:hover{
    background-color: var(--red);
    color: #fff;
}

#calendary:hover{
    background-color: var(--red);
    color: #fff;

}

.popular__img{
    width: 100%;
    max-width: 150px;
}


.popular-card{
    padding: 20px;
    border: 3px solid #0003;
    text-align: center;
    border-radius: 18px;
}

.popular-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px 0;
}

.popular-name{
    font-family: var(--salsa);
    font-size: 28px;
    font-weight: bold;
}

.popular-details{
    text-wrap: wrap;
    font-family: sans-serif;
    font-size: 16px;
}

.popular-price{
    color: var(--red);
    font-size: 24px;
    font-family: var(--salsa);
    font-weight: bolder;
}

.button-favorite{
    display: flex;
    align-items: center;
    justify-content: end;
}

.button-favorite button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-favorite button i{
    font-size: 26px;
    color: var(--gray-favorite);
    transition: all .2s ease;
}

.button-favorite button i:hover{
    color: var(--yellow);
}

.popular-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.all-btn{
    background-color: var(--red);
    color: #fff;
}

.main__img--image{
    max-width: 700px;
}

/*DELIVERY SECTION*/
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.img-container_image{
    width: 100%;
    max-width: 900px;
}



/*POPULAR SECTION*/

/*FEEDBACK SECTION*/
.feedbacks{
    padding: 80px;
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px   ;
    background-color: #f5f5f5;
}

.feedback-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.feed-card-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
}

.feed-card-img img{
    border-radius: 16px;
    max-width: 130px;
}

.feedback-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 2px #0005;
    max-width: 500px;
}

.feedback-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 30px 0 30px;
}

.stars{
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.stars i {
    color: var(--yellow);
}

.feedcard--paragraph{
    font-size: 16px;
    line-height: 1.5;
}

.person-name{
    font-family: var(--salsa);
    font-size: 24px;
}

.person-position{
    font-family: var(--salsa);
    color: #0009;
}

/*NEWS SECTION*/
.news-sc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px   ;
    padding-bottom: 40px;
}

.news__card{
    max-width: 430px;
    border: 3px solid #0002;
    border-radius: 20px;
}

.news-img_container{
    width: 100%;
}

.news-c-img{
    width: 100%;
    border-radius: 20px 20px 0 0 ;
    max-width: 430px;
}

.news-text_container{
    padding: 20px 30px 40px;
    text-align: center;
}

.news__card--title{
    font-family: var(--salsa);
    font-size: 28px;
    margin-bottom: 14px;
}

.news__card--paragraph{
    font-family: sans-serif;
    font-size: 16px;
}

/*GALLERY SECTION*/
.gallery-imgs{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 50px;
}

.img-gallery{
    width: 100%;
    max-width: 500px;
    height: 280px;
}

/*FOOTER SECTION*/
.information-sc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.details-sc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.details-sc i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.dt-name{
    font-family: var(--salsa);
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
}

.footer__links{
    text-decoration: none;
    color: #000;
    transition: all .1s ease;
}

.footer__links:hover{
    color: var(--red);
}

.dt-information{
    font-family: var(--salsa);
    font-size: 18px;
    color: var(--red);
    font-weight: bold;
}

.dt-contact{
    display: flex;
    align-items: center;
    gap: 12px   ;
}

.copyright-sc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
}

.copyright-paragraph{
    font-family: var(--salsa);
    margin: 10px 0;
    color: #0009;
}

/* Media Queries parar Desktop */
@media screen and (min-width: 1024px) {

    /* Header */
    .main__header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 1rem 2rem;
    }

    .about__list{
        align-items: start;
        font-size: 22px;
    }
  
    .header__list {
      display: flex;
      gap: 2rem;
    }
  
    .nav__button {
      display: none;
    }
  
    .buttons-container {
      display: flex;
      gap: 1rem;
    }
  
    /* Main Content */
    .main__content {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
    }

    .content-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0;
    }
  
    .main__text {
      flex: 1;
    }
  
    .main__img__container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 900px;
    }
  
    /* Products Section */
    .products {
      /* display: grid; */
      /* grid-template-columns: repeat(6, 1fr); */
      gap: 1rem;
      padding: 2rem;
    }
  
    /* Color Cards Section */
    .color-cards {
      flex-direction: row;
      justify-content: center;
    }
  
    .color__card {
      flex: 1;
      height: 340px;
    }
  
    /* About Section */
    .about {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
    }

    .text-container--main{
        display: flex;
        align-items: start;
        text-align: start;
    }
  
    .text__paragraph--main{
        text-align: start;
    }

    .text__buttons--main{
        flex-direction: row;
        padding: 0;
    }
    /* Delivery Section */
    .products--delivery {
      grid-template-columns: 1fr 1fr;
    }
  
    /* Popular Section */
    .popular__content-buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }
  
    .popular-cards-container {
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0 180px;
        gap: 1rem;
    }

    /* Feedbacks Section */
    .feedback-cards {
        flex-direction: row;
    }
  
    /* News Section */
    .news-sc {
        flex-direction: row;
        gap: 4rem;
    }
  
    /* Gallery Section */
    .gallery-imgs {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
    
    /*Color cards*/
    .color__card{
        max-width: 540px;
    }
    
    .color__card--img img{
        max-width: 240px;
    }

    /* Footer */
    .products {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }

    .copyright-sc {
        justify-content: space-around;
        flex-direction: row;
    }

    .information-sc {
        gap: 5rem;
        flex-direction: row;
    }

    .delivery{
        padding: 2rem 8rem;
    }

    /*FONT SIZE*/
    .name-sc-title,.name-sc-title-span{
        font-size: 60px;
    }

    .name-sc-title--delivery{
        font-size: 44px;
    }

    .nsct-main{
        font-size: 90px;
    }

    .card--name{
        font-size:52px;
    }

    .btn{
        font-size: 18px;
    }
    
    .card--details span{
        font-size: 24px;
    }
    
    .card--price{
        font-size: 42px;
    }

    .popular-name{
        font-size: 32px;
    }

    .popular-details{
        font-size: 20px;
    }

    .popular-price{
        font-size: 30px;
    }

    .text__paragraph{
        font-size: 22px;
    }

    .feedcard--paragraph{
        font-size: 20px;
    }

    .news__card--title{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .news__card--paragraph{
        font-size: 20px;
    }

    .dt-name{
        font-size: 26px;
    }

    .footer__links{
        font-size: 20px;
    }

    .dt-information{
        font-size: 26px;
    }

    .padding{
        padding: 0 4rem;
    }
}

